
body {
    // min-height: 500px;
}

.el-select{
    min-width: 200px;
    width: 300px;
}

.el-main.el-main.el-main.dashboard{
    padding: 0 ;
    padding-bottom: 44px;
}

.el-main.ice {
    padding: 0 !important;
    --el-main-padding: 0 !important;
}