@media screen and (max-width: 600px) {
  .el-drawer.open {
    width: 100% !important;
  }

  .el-form .el-form-item__label {
    display: block;
  }

  .el-select.el-select {
    min-width: 100px;
    width: 40vw;
  }

  .el-dialog {
    --el-dialog-width: 96vw !important;
    --el-dialog-margin-top: 0;
    max-height: 96vh;
    overflow-y: auto;
  }
  .el-dialog.el-dialog--center {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 600px) {
  /** 旅行详情：开始 **/
  .travel-detail .resources .resource .image.image {
    width: 100%;
    height: auto;
  }

  .travel-detail .video.video {
    width: 100% !important;
    max-width: 100%;
  }
  /** 旅行详情：结束 **/
}

.mobile {
  .el-main.el-main {
    --el-main-padding: 0px;
    // padding: 0;
  }

  /** 报表：开始 **/
  .report-container .chart.c-years {
    width: 100vw;
    min-width: 300px;
  }

  .el-main.dashboard {
    padding: 0;
  }

  .report-container .el-statistic.el-statistic {
    min-width: 60px;
    flex: 1;
  }

  /** 报表：结束 **/

  .el-pagination {
    max-width: 100vw;
    overflow-y: scroll;
  }

  .common-tool-bar.common-tool-bar {
    top: 36px;
  }

  .travel-detail {
    // 旅行详情页面
    .summary .op {
      left: 8px;
      top: 130px;
      text-align: left;
    }
  }
}
